<section class="bg-color py-5">
  <div class="row container-fluid py-5 m-auto">
    <div class="col-md-4 text-center">
      <div>
        <h2 class="captalize text-white">LOCATION</h2>
        <p class="text-white">2215 John Daniel Drive</p>
        <p class="text-white">Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <h2 class="captalize text-white">AROUND THE WEB</h2>
        <div>
          <i _ngcontent-lfr-c21 class="fa-brands fa-facebook mx-1 text-white fs-6 icon"></i>
          <i _ngcontent-lfr-c21 class="fa-brands fa-twitter mx-1 text-white fs-6 icon"></i>
          <i _ngcontent-lfr-c21 class="fa-brands fa-linkedin mx-1 text-white fs-6 icon"></i>
          <i  _ngcontent-lfr-c21 class="fa-solid fa-globe mx-1 text-white fs-6 icon"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <h2 class="captalize text-white">ABOUT FREELANCER</h2>
        <p class="text-white">
          Freelance is a free to use, licensed Bootstrap theme created <br />
          by Route.
        </p>
      </div>
    </div>
  </div>
</section>

<p class="text-white text-center bg-colorr p-4">Copyright © Your Website 2021</p>
