.bg-colorr{
 background-color: #1A252F;
}

.icon[_ngcontent-lfr-c21] {
    border: 1px white solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px;}