<section class="portfolio d-flex justify-content-center align-items-center flex-column mb-5">
    <h2 class="title h1 text-uppercase fw-bolder mt-3">portfolio component</h2>
<div class="pb-3">
<div class="line-star bg-color me-3"></div>
<i class="fa-solid fa-star title  fa-xl"></i>
<div class="line-star bg-color ms-3"></div>
</div>
<div class="container">
    <div class="row g-4">
  @for(src of imgSrc; track $index) {
        <div class="col-md-4 cursor-pointer">
            <div (click)="isHidden=false ; modelimg=src" class="card border-0 position-relative">
                <img class="card-img-top" [src]="src" alt="title">
                <div class="layer position-absolute top-0 bottom-0 w-100  d-flex justify-content-center align-items-center">
                    <i class="text-white fas fa-plus fa-6x"></i>
                </div>
            </div>
            
        </div>
    }
    </div>  
</div>

<div (click)="hideimg($event.target,eleimg)" [class.d-none]="isHidden" class="model position-fixed start-0 top-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center">
    <img #eleimg [src]="modelimg" alt="image">
</div>
</section>